## 시즈널리티

### 가중치
- 가중치 평균 : 49575559.8 -> 반올림 -> 49575560
- 가중 표준 편차 : 136367491

In [12]:
import pandas as pd

half_fix = pd.read_csv('HALF_FIX.csv', encoding='cp949')
half_fix.head()

   CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0       1  2014   1  19925355  83720   238   고정고객
1       1  2014   2  34116312  95832   356   고정고객
2       1  2015   1  17898365  57367   312   고정고객
3       1  2015   2  13102518  86772   151   고정고객
4       2  2014   1  24323230  71750   339   고정고객

In [13]:
half_fix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77197 entries, 0 to 77196
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  77197 non-null  int64
 1   년도      77197 non-null  int64
 2   반기      77197 non-null  int64
 3   구매합계    77197 non-null  int64
 4   평균구매    77197 non-null  int64
 5   구매빈도    77197 non-null  int64
 6   고정고객여부  77197 non-null  object
dtypes: int64(6), object(1)
memory usage: 4.1+ MB

In [87]:
half_fix

       CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0           1  2014   1  19925355  83720   238   고정고객
1           1  2014   2  34116312  95832   356   고정고객
2           1  2015   1  17898365  57367   312   고정고객
3           1  2015   2  13102518  86772   151   고정고객
4           2  2014   1  24323230  71750   339   고정고객
...       ...   ...  ..       ...    ...   ...    ...
77192   19381  2015   2   3243498   7439   436  비고정고객
77193   19382  2015   1   1826739   4590   398  비고정고객
77194   19382  2015   2   2575034   5069   508  비고정고객
77195   19383  2015   1     27000   5400     5  비고정고객
77196   19383  2015   2   2357400   9245   255  비고정고객

[77197 rows x 7 columns]

In [101]:
half_fix.구매합계.sum()/half_fix.구매빈도.sum()

23677.76891574625

In [85]:
half = half_fix[half_fix.년도 == 2014]
half

       CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0           1  2014   1  19925355  83720   238   고정고객
1           1  2014   2  34116312  95832   356   고정고객
4           2  2014   1  24323230  71750   339   고정고객
5           2  2014   2  21922100  80893   271   고정고객
8           3  2014   1    851215   2446   348   고정고객
...       ...   ...  ..       ...    ...   ...    ...
77176   19376  2014   2    273297   4079    67  비고정고객
77179   19377  2014   2    217360  14491    15  비고정고객
77182   19378  2014   2    474760  23738    20  비고정고객
77185   19379  2014   2   1190620  13685    87  비고정고객
77188   19380  2014   2    522700  30747    17  비고정고객

[38508 rows x 7 columns]

In [86]:
half2015 = half_fix[half_fix.년도 == 2015]
half2015

       CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
2           1  2015   1  17898365   57367   312   고정고객
3           1  2015   2  13102518   86772   151   고정고객
6           2  2015   1  27791610  106481   261   고정고객
7           2  2015   2  25843820  105485   245   고정고객
10          3  2015   1    592280    2692   220   고정고객
...       ...   ...  ..       ...     ...   ...    ...
77192   19381  2015   2   3243498    7439   436  비고정고객
77193   19382  2015   1   1826739    4590   398  비고정고객
77194   19382  2015   2   2575034    5069   508  비고정고객
77195   19383  2015   1     27000    5400     5  비고정고객
77196   19383  2015   2   2357400    9245   255  비고정고객

[38689 rows x 7 columns]

### 1기

In [90]:
half1 = half[half.반기 == 1]
half1

       CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0           1  2014   1  19925355  83720   238   고정고객
4           2  2014   1  24323230  71750   339   고정고객
8           3  2014   1    851215   2446   348   고정고객
12          4  2014   1   5042106  18674   270   고정고객
16          5  2014   1   5460150  14483   377   고정고객
...       ...   ...  ..       ...    ...   ...    ...
77111   19356  2014   1    170160   3620    47   고정고객
77115   19357  2014   1     91950   7663    12   고정고객
77122   19359  2014   1     43190   2541    17   고정고객
77126   19360  2014   1    368050   8977    41   고정고객
77139   19364  2014   1   2032420  21621    94   고정고객

[19210 rows x 7 columns]

In [93]:
half1.구매합계.sum()

158240730140

In [100]:
half1.구매합계.sum()/half1.구매빈도.sum()

23584.993392834094

In [ ]:
23677

In [95]:
half1.구매합계.mean()

8237414.374804789

In [98]:
half1[['구매합계']].describe()

               구매합계
count  1.921000e+04
mean   8.237414e+06
std    1.925224e+07
min    3.450000e+03
25%    2.412918e+06
50%    3.973499e+06
75%    8.805233e+06
max    1.389028e+09

In [106]:
half1.to_csv('./half1.csv')

In [107]:
half2.to_csv('./half2.csv')
half3.to_csv('./half3.csv')
half4.to_csv('./half4.csv')

In [ ]:
49575560

### 2기

In [92]:
half2 = half[half.반기 == 2]
half2

       CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
1           1  2014   2  34116312  95832   356   고정고객
5           2  2014   2  21922100  80893   271   고정고객
9           3  2014   2   1042554   2666   391   고정고객
13          4  2014   2   4257510  24753   172   고정고객
17          5  2014   2   2225730  17121   130   고정고객
...       ...   ...  ..       ...    ...   ...    ...
77176   19376  2014   2    273297   4079    67  비고정고객
77179   19377  2014   2    217360  14491    15  비고정고객
77182   19378  2014   2    474760  23738    20  비고정고객
77185   19379  2014   2   1190620  13685    87  비고정고객
77188   19380  2014   2    522700  30747    17  비고정고객

[19298 rows x 7 columns]

In [99]:
half2[['구매합계']].describe()

               구매합계
count  1.929800e+04
mean   8.879734e+06
std    1.920392e+07
min    1.700000e+03
25%    2.641212e+06
50%    4.278554e+06
75%    9.663625e+06
max    1.337394e+09

In [102]:
half2.구매합계.sum()/half2.구매빈도.sum()

23925.991651787484

### 3기

In [103]:
half3 = half2015[half2015.반기 == 1]
half3

       CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
2           1  2015   1  17898365   57367   312   고정고객
6           2  2015   1  27791610  106481   261   고정고객
10          3  2015   1    592280    2692   220   고정고객
14          4  2015   1   3656937   13905   263   고정고객
18          5  2015   1   2934930   23861   123   고정고객
...       ...   ...  ..       ...     ...   ...    ...
77186   19379  2015   1   2395920    9145   262  비고정고객
77189   19380  2015   1    837950    8135   103  비고정고객
77191   19381  2015   1   2797171    7580   369  비고정고객
77193   19382  2015   1   1826739    4590   398  비고정고객
77195   19383  2015   1     27000    5400     5  비고정고객

[19343 rows x 7 columns]

### 4기

In [104]:
half4 = half2015[half2015.반기 == 2]
half4

       CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
3           1  2015   2  13102518   86772   151   고정고객
7           2  2015   2  25843820  105485   245   고정고객
11          3  2015   2    679118    2927   232   고정고객
15          4  2015   2   3737257   16610   225   고정고객
19          5  2015   2   2616260   29396    89   고정고객
...       ...   ...  ..       ...     ...   ...    ...
77187   19379  2015   2   2192740    9331   235  비고정고객
77190   19380  2015   2   2552327    7976   320  비고정고객
77192   19381  2015   2   3243498    7439   436  비고정고객
77194   19382  2015   2   2575034    5069   508  비고정고객
77196   19383  2015   2   2357400    9245   255  비고정고객

[19346 rows x 7 columns]

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import math
import time
# 한글폰트 적용
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.rc("font",family="AppleGothic")
import seaborn as sns
from datetime import datetime as dt

#마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus']=False

In [2]:
competitor = pd.read_csv('./DATA/경쟁사이용.txt', encoding='euc-kr', sep=',')
demo = pd.read_csv('./DATA/고객DEMO.txt', encoding='euc-kr', sep=',')
membership = pd.read_csv('./DATA/멤버십여부.txt', encoding='euc-kr', sep=',')
procl = pd.read_csv('./DATA/상품분류.txt', encoding='euc-kr', sep=',')
channel = pd.read_csv('./DATA/채널이용.txt', encoding='euc-kr', sep=',')
purprd = pd.read_csv('./DATA/구매상품TR.txt', encoding='euc-kr', sep=',')

In [3]:
procl = pd.read_csv('./data/상품분류.txt', encoding='euc-kr', sep=',')

#신선식품
procl.loc[procl['중분류명'].str.contains(r"특산물|견과류|냉장농산|냉장수산|냉장축산|냉장기타|채류|돈육|계육|건어류|해물|육류|농산물|수산품|반찬|단무지|잡곡|초밥|다시마|수입게|떡|족발|순대|연체|새우|마른김|조미김|연어|갈치|굴비|조개|계란|오리|우육|닭|감귤|감|복숭아|자두|구이|토마토|기타회|건과|생활한방|한방식재류|수입육|한우|포도|참외|수박|딸기|메론|오렌지|자몽|석류|레몬|해물연체류|블루베리|체리|수입포도|바나나|파인애플|망고|키위|사과|배|밤|과일|해초|나물|두부|묵|즉석참기름|소고기|돼지고기|김치|반찬|양곡|멸치|황태|우유|즉석도정미|특산물|국산게|해조류|꽁치|조기|고등어|약초|대구|도미|생선|잎|잡곡류|선어|채소|버섯|오징어|젓갈|쥐치포|육포|건명태"),'중분류명'] = '신선식품'
#가공식품
procl.loc[procl['중분류명'].str.contains(r"규격RTC|식사류|건면|즉석식품|발효유|식용유|만두|쿠키|초콜렛|씨리얼|케첩마요네즈|냉장식사|축산가공|가공식품|주류|커피|대용식|음식조리|도시락|빵|HMR|밥죽류|간편요리|냉장간편식|간식|선식|햄|소시지|아이스크림|생수|유제품|요구르트|브랜드빵|치즈|두유|음료|소주|양주|건강식품|담배|꿀|안주|한과|프리미엄과자|과자|피자|디저트|장류|식용유지|가루|수입조미|면류|분유|잼|통조림|이유식|구이찜|건명태|튀김|밥류|선물세트|즉석구이|향신료|설탕류|조리식품|라면|인스턴트|간편조리|맥주|와인|전통주|스낵|껌|캔디|시리얼|파이|비스켓|초콜릿|양념|식자재|마른안주|커피|차|소스|조미료|냉동|가공|육포"),'중분류명'] = '가공식품'
#외식
procl.loc[procl['중분류명'].str.contains(r"맛집행사|컨세션|푸드몰|푸드코트|먹거리|중식|패스트푸드|분식|일식|양식|한식|레스토랑|Fast|카페|편의시설|판매시설|주유소|브랜드조리|베이커리|이벤트조리"),'중분류명'] = '외식'
#일상용품
procl.loc[procl['중분류명'].str.contains(r"음식저장|조리용기|세탁세제|화장지|주방주거세제|화장품|두발용품|생리용품|구강용품|위생용품|주방용품|청소욕실용품|가정잡화|화장지|탈취제|베이직케어|선케어|클렌징|집중케어|남성케어|베이비케어|헤어케어|바디케어|풋케어|구강케어|여성용품|화장지티슈|방향제습탈취제|미용소품|안전용품|여행용품|계절팩|여성|남성|베이스메이크업|아이메이크업|립메이크업|네일메이크업|주방용품|생활잡화|식기|일용잡화|화장품조리용기|조리도구|미용소품|훼이셜케어|공구|종량제봉투|필기도구|미용잡화|노트|드럭스토어|아로마|핸드케어|덴탈케어|화장품|건전지|용품|주방|휴지통|밀대|바디|스킨케어|욕실|헤어|일상용품|티슈|청소편의|세제|제습제|키친타올|위생용품|생리대|섬유유연제|표백제|살충제|탈취제|기저귀|화장지"),'중분류명'] = '일상용품'
#의약품 의료기기 
procl.loc[procl['중분류명'].str.contains(r"건강기능식품|일반의약외품|건강식품|홍인삼|기능성건강|비타민"),'중분류명'] = '의약품/의료기기'
#교육 문화
procl.loc[procl['중분류명'].str.contains(r"문화용품|악기|팬시|교육|EDUCATION|서적|음반"),'중분류명'] = '교육/문화용품'
#디지털가전
procl.loc[procl['중분류명'].str.contains(r"대형가전|소형가전|컴퓨터|전자|주방가전|VIDEO|에어컨|TV|DVD|오디오|홈시어터|정수기|공기청정기|음향기기|히터|전기요|가습기|밥솥|청소기|전기포트|믹서|조리기|소형음향기기|카메라|전화기|이동통신|PC|컴퓨터|전기면도기|하이패스|전자악기|MP3|전자학습기|냉장고|세탁기|선풍기|가전|디지털"),'중분류명'] = '디지털/가전'
procl.loc[procl['소분류명'].str.contains(r"헤어드라이어|헤어세팅기"),'중분류명'] = '디지털/가전'
#가구
procl.loc[procl['중분류명'].str.contains(r"수예|매트|전구|그릇|침구|커튼|수예|조명|가구|테이블|의자|퍼니처|벽지"),'중분류명'] = '가구/인테리어'
procl.loc[procl['소분류명'].str.contains(r"교자상|다용도상"),'중분류명'] = '가구/인테리어'
#스포츠
procl.loc[procl['중분류명'].str.contains(r"레저취미|SPORTS|스키|등산|낚시|수영복|롤러보드|자전거|골프|스포츠"),'중분류명'] = '전문스포츠/레저'
#패션잡화
procl.loc[procl['중분류명'].str.contains(r"아동슈즈|양산|피트니스|액세서리|피혁잡화|구두|복합샵|시즌잡화|슈즈|스타킹|드레스화브랜드|슈즈행사|샌들슬리퍼|NB구두|운동화|준보석|시계|액세서리|피혁브랜드|가방브랜드|잡화멀티샵|미입점행사|지갑|벨트|핸드백|가방|피혁토탈|모자|스카프|장갑|시즌토탈|썬글라스|양말|우산"),'중분류명'] = '패션잡화'
procl.loc[procl['소분류명'].str.contains(r"선글라스|피혁"),'중분류명'] = '패션잡화'
#의류
procl.loc[procl['중분류명'].str.contains(r"섬유잡화|캐주얼|커리어|트래디셔널|시티웨어|내의|블라우스|기타의류|디자이너|모피|피혁|남성정장|남성캐주얼|교복|셔츠|트랜디|병행수입|수입브랜드|마담|덧신|내의|란제리|웨어|주니어|의류|캐주얼|스트리트|정장|남성|남아|여성|여아|아동"),'중분류명'] = '의류'
#유아용품
procl.loc[procl['중분류명'].str.contains(r"아동|GIRLS|BOYS|베이비|BABY|유아"),'중분류명'] = '유아용품'
#명품
procl.loc[procl['중분류명'].str.contains(r"보석|준보석|명품"),'중분류명'] = '명품'
#기타
procl.loc[procl['중분류명'].str.contains(r"브랜드|기타|웨딩|데일리처분|균일가|파티|시즌행사|영상|동물병원|카시트|캠핑|여행|TRAVEL"),'중분류명'] = '기타'
procl.loc[procl['소분류명'].str.contains(r'일반브랜드'), '중분류명'] = '기타'

procl.중분류명.unique()
procl.중분류명.value_counts()

가공식품        2047
일상용품        1038
의류           273
전문스포츠/레저     207
패션잡화         197
디지털/가전       174
가구/인테리어      127
외식           111
교육/문화용품       64
기타            51
유아용품          44
명품            27
의약품/의료기기      26
Name: 중분류명, dtype: int64

In [5]:
# 성별
print(demo['성별'].value_counts())

# 제휴사(롯데 그룹 4개 계열사)
print(competitor['제휴사'].value_counts())

# 채널
# 온라인 2개 모바일4개
print(channel['제휴사'].value_counts())

# 멤버쉽
print(membership['멤버십명'].value_counts())

F    15898
M     3485
Name: 성별, dtype: int64
B    13526
A     6385
C     5176
D     3072
Name: 제휴사, dtype: int64
B_MOBILE/APP    5170
A_MOBILE/APP    1435
B_ONLINEMALL    1328
C_ONLINEMALL     618
D_MOBILE/APP     227
C_MOBILE/APP      46
Name: 제휴사, dtype: int64
하이마트    4418
다둥이     2009
더영       642
롭스       387
Name: 멤버십명, dtype: int64

In [9]:
purchase = purprd.copy()
purchase= purchase.drop(['중분류코드','제휴사', '대분류코드'] , axis=1)
eda = pd.merge(purchase, procl, on='소분류코드', how='inner')

# demo + eda
new = pd.merge(demo, eda, on='고객번호', how='left')

In [ ]:
year14 = new[new.구매일자<20150101]
year15 = new[new.구매일자<=20151231]

year14_1 =
year14_2 =
year15_1 =
year15_2 =

In [8]:
new

,고객번호,성별,연령대,거주지역,영수증번호,소분류코드,점포코드,구매일자,구매시간,구매금액,제휴사,대분류코드,중분류코드,중분류명,소분류명,구매일자(datetime),연도
0,1,M,60세이상,60.0,7088136,B430101,13,20150128,21,5960,B,43,4301,가공식품,어묵,1970-01-01 00:00:00.020150128+00:00,1970
1,1,M,60세이상,60.0,7079913,B120603,13,20141218,10,27880,B,12,1206,가공식품,축산물통조림,1970-01-01 00:00:00.020141218+00:00,1970
2,1,M,60세이상,60.0,7079913,B170103,13,20141218,10,8900,B,17,1701,일상용품,액체세제,1970-01-01 00:00:00.020141218+00:00,1970
3,1,M,60세이상,60.0,7068855,B100504,13,20141023,14,2980,B,10,1005,가공식품,떠먹는요구르트,1970-01-01 00:00:00.020141023+00:00,1970
4,1,M,60세이상,60.0,100083,B620202,4,20140819,11,3700,B,62,6202,가공식품,피자,1970-01-01 00:00:00.020140819+00:00,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,19383,F,25세~29세,500.0,237722,D040217,30,20150723,9,2000,D,4,402,가공식품,믹스커피,1970-01-01 00:00:00.020150723+00:00,1970
28593026,19383,F,25세~29세,500.0,255266,D040217,41,20151022,22,2000,D,4,402,가공식품,믹스커피,1970-01-01 00:00:00.020151022+00:00,1970
28593027,19383,F,25세~29세,500.0,255248,D040217,41,20151017,19,2000,D,4,402,가공식품,믹스커피,1970-01-01 00:00:00.020151017+00:00,1970
28593028,19383,F,25세~29세,500.0,255160,D040217,41,20150921,23,4000,D,4,402,가공식품,믹스커피,1970-01-01 00:00:00.020150921+00:00,1970
28593029,19383,F,25세~29세,500.0,237776,D020207,30,20150806,11,4060,D,2,202,일상용품,데오도란트,1970-01-01 00:00:00.020150806+00:00,1970

In [ ]:
# 소비재 카테고리 나누기
def sobijae(x):
    cat=''
    if x in ['가공식품','신선식품','외식','일상용품','의약품/의료기기','교육/문화용품','기타']:
        cat = '편의품'
    elif x in ['디지털/가전','가구/인테리어','의류','전문스포츠/레저','패션잡화','유아용품']:
        cat = '선매품'
    elif x =='명품':
        cat = '전문품'
        
    return cat

eda['소비재'] = eda['중분류명'].apply(lambda x : sobijae(x))
eda['중분류명'].value_counts()

In [19]:
half = half_fix[half_fix.년도 == 2014]
half.head()

   CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0       1  2014   1  19925355  83720   238   고정고객
1       1  2014   2  34116312  95832   356   고정고객
4       2  2014   1  24323230  71750   339   고정고객
5       2  2014   2  21922100  80893   271   고정고객
8       3  2014   1    851215   2446   348   고정고객

In [26]:
half2015 = half_fix[half_fix.년도 == 2015]
half2015.head()

    CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
2        1  2015   1  17898365   57367   312   고정고객
3        1  2015   2  13102518   86772   151   고정고객
6        2  2015   1  27791610  106481   261   고정고객
7        2  2015   2  25843820  105485   245   고정고객
10       3  2015   1    592280    2692   220   고정고객

In [23]:
half1 = half[half.반기 == 1]
print(half1.info())
half1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19210 entries, 0 to 77139
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  19210 non-null  int64
 1   년도      19210 non-null  int64
 2   반기      19210 non-null  int64
 3   구매합계    19210 non-null  int64
 4   평균구매    19210 non-null  int64
 5   구매빈도    19210 non-null  int64
 6   고정고객여부  19210 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.2+ MB
None

    CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0        1  2014   1  19925355  83720   238   고정고객
4        2  2014   1  24323230  71750   339   고정고객
8        3  2014   1    851215   2446   348   고정고객
12       4  2014   1   5042106  18674   270   고정고객
16       5  2014   1   5460150  14483   377   고정고객

In [24]:
half1.groupby(['CUSTNO'], as_index=False)
half1.head()

    CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0        1  2014   1  19925355  83720   238   고정고객
4        2  2014   1  24323230  71750   339   고정고객
8        3  2014   1    851215   2446   348   고정고객
12       4  2014   1   5042106  18674   270   고정고객
16       5  2014   1   5460150  14483   377   고정고객

In [25]:
half2 = half[half.반기 == 2]
print(half2.info())
half2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19298 entries, 1 to 77188
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  19298 non-null  int64
 1   년도      19298 non-null  int64
 2   반기      19298 non-null  int64
 3   구매합계    19298 non-null  int64
 4   평균구매    19298 non-null  int64
 5   구매빈도    19298 non-null  int64
 6   고정고객여부  19298 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.2+ MB
None

    CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
1        1  2014   2  34116312  95832   356   고정고객
5        2  2014   2  21922100  80893   271   고정고객
9        3  2014   2   1042554   2666   391   고정고객
13       4  2014   2   4257510  24753   172   고정고객
17       5  2014   2   2225730  17121   130   고정고객

In [27]:
half3 = half2015[half2015.반기 == 1]
print(half3.info())
half3.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19343 entries, 2 to 77195
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  19343 non-null  int64
 1   년도      19343 non-null  int64
 2   반기      19343 non-null  int64
 3   구매합계    19343 non-null  int64
 4   평균구매    19343 non-null  int64
 5   구매빈도    19343 non-null  int64
 6   고정고객여부  19343 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.2+ MB
None

    CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
2        1  2015   1  17898365   57367   312   고정고객
6        2  2015   1  27791610  106481   261   고정고객
10       3  2015   1    592280    2692   220   고정고객
14       4  2015   1   3656937   13905   263   고정고객
18       5  2015   1   2934930   23861   123   고정고객

In [28]:
half4 = half2015[half2015.반기 == 2]
print(half4.info())
half4.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19346 entries, 3 to 77196
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  19346 non-null  int64
 1   년도      19346 non-null  int64
 2   반기      19346 non-null  int64
 3   구매합계    19346 non-null  int64
 4   평균구매    19346 non-null  int64
 5   구매빈도    19346 non-null  int64
 6   고정고객여부  19346 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.2+ MB
None

    CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
3        1  2015   2  13102518   86772   151   고정고객
7        2  2015   2  25843820  105485   245   고정고객
11       3  2015   2    679118    2927   232   고정고객
15       4  2015   2   3737257   16610   225   고정고객
19       5  2015   2   2616260   29396    89   고정고객

### SARIMA

In [30]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.13.2-cp38-cp38-win_amd64.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 10.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: packaging>=21.3 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: scipy>=1.3 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels) (1.7.3)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     -------------------------------------- 233.8/233.8 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels) (1.22.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.13.2

[notice] A new release of pip available: 22.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

import itertools

p = d = q = range(0,3)
pdq = list(itertools.product(p, d, q))

seasonal_pdq = [(x[0], x[1], [2], 12) for x in list(itertools.product(p, d, q))]

In [35]:
import numpy as np

best_aic = np.inf
best_pdq = None
best_seasonal_pdq = None
tmp_model = None
best_mdl = None

for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            tmp_mdl = sm.tsa.statespace.SARIMAX(y_train, exog=None, order=param,
                                                seasonal_order = param_seasonal,
                                                enforce_stationarity=True,
                                                enforce_invertibility=True)
            res = tmp_mdl.fit()
            print(f'SARIMAX{param}x{param_seasonal}12 - AIC:{res.aic}')
            if res.aic < best_aic:
                best_aic = res.aic
                best_pdq = param
                best_seasonal_pdq = param_seasonal
                best_mdl = tmp_mdl
        except:
            continue
print(f"Best SARIMAX{best_pdq}x{best_seasonal_pdq}12 model - AIC:{best_aic}")

Best SARIMAXNonexNone12 model - AIC:inf

In [36]:
mdl = sm.tsa.statespace.SARIMAX(endog=y_train, order=(1,1,0),
                               seasonal_order=(1,2,1,12),
                               enforce_stationarity=True,
                               enforce_invertibility=True)
res = mdl.fit()

NameError: name 'sm' is not defined

### SARIMA 2

In [37]:
half_fix.head()

   CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0       1  2014   1  19925355  83720   238   고정고객
1       1  2014   2  34116312  95832   356   고정고객
2       1  2015   1  17898365  57367   312   고정고객
3       1  2015   2  13102518  86772   151   고정고객
4       2  2014   1  24323230  71750   339   고정고객

In [38]:
# Data Loading

# import pandas as pd
# half_fix = pd.read_csv('HALF_FIX.csv', encoding='cp949')

# Feature Engineering
raw_fe = feature_engineering(half_fix)
### Reality ###
target = ['년도', '반기']
raw_feR = feature_engineering_year_duplicated(raw_fe, target)

# Data Split
# Confirm of input and output
Y_colname = ['count']
X_remove = ['CUSTNO', '구매빈도', '고정고객여부']
X_colname = [x for x in raw_fe.columns if x not in Y_colname+X_remove]
X_train_feR, X_test_feR, Y_train_feR, Y_test_feR = datasplit_ts(raw_feR, Y_colname, X_colname, '2014-07-01')
### Reality ###
target = ['구매합계', '평균구매']
X_test_feR = feature_engineering_lag_modified(Y_test_feR, X_test_feR, target)

### Scaling ###
X_train_feRS, X_test_feRS = feature_engineering_scaling(preprocessing.Normalizer(), X_train_feR, X_test_feR)

### Multicollinearity ###
print('Number_of_Total_X: ', len(X_train_feRS.columns))
X_colname_vif = feature_engineering_XbyVIF(X_train_feRS, 12)
print('Number_of_Selected_X: ', len(X_colname_vif))
X_train_feRSM, X_test_feRSM = X_train_feRS[X_colname_vif].copy(), X_test_feRS[X_colname_vif].copy()

NameError: name 'feature_engineering' is not defined

In [39]:
purprd.head()

  제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간  구매금액
0   B  8664000     15   1504  B150401  17218    44  20140222    20  2420
1   B  8664000     16   1601  B160101  17218    44  20140222    20  1070
2   B  8664000     16   1602  B160201  17218    44  20140222    20  8060
3   B  8664000     18   1803  B180301  17218    44  20140222    20  6000
4   B  8664001      5    509  B050901  17674    44  20140222    22  1120

In [41]:
purprd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28593030 entries, 0 to 28593029
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 2.1+ GB

In [44]:
# 구매일자 컬럼 필요 일단 고정 + 비고정 고객 모두 포함하여 시계열 분석
cus = purprd.groupby(purprd.구매일자)
cus.head()

       제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간  구매금액
0        B  8664000     15   1504  B150401  17218    44  20140222    20  2420
1        B  8664000     16   1601  B160101  17218    44  20140222    20  1070
2        B  8664000     16   1602  B160201  17218    44  20140222    20  8060
3        B  8664000     18   1803  B180301  17218    44  20140222    20  6000
4        B  8664001      5    509  B050901  17674    44  20140222    22  1120
...     ..      ...    ...    ...      ...    ...   ...       ...   ...   ...
154986   D   204267      2    203  D020303   3546    12  20140525    11  2700
154987   D   204267      4    402  D040206   3546    12  20140525    11  3400
154988   D   204267      4    402  D040209   3546    12  20140525    11  1500
157654   C  9292878     17   1701  C170150   1416   341  20140615    18  1400
157655   C  9292879      7    701  C070101  13003   341  20140615    20  2990

[3650 rows x 10 columns]

In [55]:
purprd = pd.read_csv('./DATA/구매상품TR.txt', encoding='euc-kr', sep=',')

In [56]:
purprd1 = purprd.copy()

In [57]:
df = purprd.copy()

In [58]:
df['구매일자'] = pd.to_datetime(df['구매일자'])
df.구매일자

0          1970-01-01 00:00:00.020140222
1          1970-01-01 00:00:00.020140222
2          1970-01-01 00:00:00.020140222
3          1970-01-01 00:00:00.020140222
4          1970-01-01 00:00:00.020140222
                        ...
28593025   1970-01-01 00:00:00.020150525
28593026   1970-01-01 00:00:00.020150525
28593027   1970-01-01 00:00:00.020150525
28593028   1970-01-01 00:00:00.020150526
28593029   1970-01-01 00:00:00.020150525
Name: 구매일자, Length: 28593030, dtype: datetime64[ns]

In [59]:
purprd1['구매일자']=purprd1['구매일자'].astype(str)

In [60]:
purprd1['구매일자(datetime)'] = pd.to_datetime(purprd1['구매일자'])
purprd1['구매일자(datetime)'] = purprd1['구매일자(datetime)'].dt.tz_localize('UTC')
purprd1['구매일자']

0           20140222
1           20140222
2           20140222
3           20140222
4           20140222
              ...
28593025    20150525
28593026    20150525
28593027    20150525
28593028    20150526
28593029    20150525
Name: 구매일자, Length: 28593030, dtype: object

In [64]:
purprd1.구매일자 = purprd1['구매일자(datetime)']

In [65]:
purprd1.구매일자

0          2014-02-22 00:00:00+00:00
1          2014-02-22 00:00:00+00:00
2          2014-02-22 00:00:00+00:00
3          2014-02-22 00:00:00+00:00
4          2014-02-22 00:00:00+00:00
                      ...
28593025   2015-05-25 00:00:00+00:00
28593026   2015-05-25 00:00:00+00:00
28593027   2015-05-25 00:00:00+00:00
28593028   2015-05-26 00:00:00+00:00
28593029   2015-05-25 00:00:00+00:00
Name: 구매일자, Length: 28593030, dtype: datetime64[ns, UTC]

In [54]:
purprd1.구매일자=pd.to_datetime(purprd.구매일자)

In [51]:
purprd.구매일자

0          1970-01-01 00:00:00.020140222
1          1970-01-01 00:00:00.020140222
2          1970-01-01 00:00:00.020140222
3          1970-01-01 00:00:00.020140222
4          1970-01-01 00:00:00.020140222
                        ...
28593025   1970-01-01 00:00:00.020150525
28593026   1970-01-01 00:00:00.020150525
28593027   1970-01-01 00:00:00.020150525
28593028   1970-01-01 00:00:00.020150526
28593029   1970-01-01 00:00:00.020150525
Name: 구매일자, Length: 28593030, dtype: datetime64[ns]

In [52]:
purprd.head()

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,1970-01-01 00:00:00.020140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,1970-01-01 00:00:00.020140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,1970-01-01 00:00:00.020140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,1970-01-01 00:00:00.020140222,20,6000
4,B,8664001,5,509,B050901,17674,44,1970-01-01 00:00:00.020140222,22,1120

## SARIMA 3

In [70]:
purprd1

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,구매일자(datetime)
0,B,8664000,15,1504,B150401,17218,44,2014-02-22 00:00:00+00:00,20,2420,2014-02-22 00:00:00+00:00
1,B,8664000,16,1601,B160101,17218,44,2014-02-22 00:00:00+00:00,20,1070,2014-02-22 00:00:00+00:00
2,B,8664000,16,1602,B160201,17218,44,2014-02-22 00:00:00+00:00,20,8060,2014-02-22 00:00:00+00:00
3,B,8664000,18,1803,B180301,17218,44,2014-02-22 00:00:00+00:00,20,6000,2014-02-22 00:00:00+00:00
4,B,8664001,5,509,B050901,17674,44,2014-02-22 00:00:00+00:00,22,1120,2014-02-22 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,2015-05-25 00:00:00+00:00,19,14000,2015-05-25 00:00:00+00:00
28593026,B,8116738,37,3709,B370904,16421,29,2015-05-25 00:00:00+00:00,20,6500,2015-05-25 00:00:00+00:00
28593027,B,8116739,8,802,B080203,8266,29,2015-05-25 00:00:00+00:00,13,16000,2015-05-25 00:00:00+00:00
28593028,B,8116764,90,9001,B900103,14316,29,2015-05-26 00:00:00+00:00,19,1000,2015-05-26 00:00:00+00:00
28593029,B,8116741,8,802,B080203,16587,29,2015-05-25 00:00:00+00:00,17,16000,2015-05-25 00:00:00+00:00

In [66]:
purprd1.구매일자

0          2014-02-22 00:00:00+00:00
1          2014-02-22 00:00:00+00:00
2          2014-02-22 00:00:00+00:00
3          2014-02-22 00:00:00+00:00
4          2014-02-22 00:00:00+00:00
                      ...
28593025   2015-05-25 00:00:00+00:00
28593026   2015-05-25 00:00:00+00:00
28593027   2015-05-25 00:00:00+00:00
28593028   2015-05-26 00:00:00+00:00
28593029   2015-05-25 00:00:00+00:00
Name: 구매일자, Length: 28593030, dtype: datetime64[ns, UTC]

In [43]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt

sns.set(rc={'figure.figsize':(12,8)})

import itertools
import warnings
warnings.filterwarnings('ignore')
import datetime
from datetime import datetime

In [72]:
!pip install Forecaster

ERROR: Could not install packages due to an OSError: [WinError 5] 액세스가 거부되었습니다: 'C:\\Users\\admin\\anaconda3\\envs\\cakd7\\Lib\\site-packages\\~umpy\\core\\_multiarray_tests.cp38-win_amd64.pyd'

Collecting Forecaster
  Downloading forecaster-0.2.tar.gz (11 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from Forecaster) (1.22.3)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from Forecaster) (1.4.2)
Requirement already satisfied: tensorflow in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from Forecaster) (2.3.0)
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas->Forecaster) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas->Forecaster) (2.8.2)
Requirement already satisfied: scikit-learn in c:\users\admin\appdata\roaming\python\python38\site-packages (from sklearn->Forecaster) (0.23.1)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (2.10.0)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (1.1.2)
Requirement already satisfied: astunparse==1.6.3 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (3.3.0)
Requirement already satisfied: tensorboard<3,>=2.3.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (2.4.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (1.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (1.16.0)
Requirement already satisfied: google-pasta>=0.1.8 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (0.2.0)
Requirement already satisfied: wrapt>=1.11.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (1.13.3)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (1.42.0)
Collecting numpy
  Downloading numpy-1.18.5-cp38-cp38-win_amd64.whl (12.8 MB)
     ---------------------------------------- 12.8/12.8 MB 9.9 MB/s eta 0:00:00
Collecting gast==0.3.3
  Downloading gast-0.3.3-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (3.20.1)
Requirement already satisfied: absl-py>=0.7.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (0.15.0)
Collecting tensorflow-estimator<2.4.0,>=2.3.0
  Downloading tensorflow_estimator-2.3.0-py2.py3-none-any.whl (459 kB)
     -------------------------------------- 459.0/459.0 kB 7.2 MB/s eta 0:00:00
Collecting scipy==1.4.1
  Downloading scipy-1.4.1-cp38-cp38-win_amd64.whl (31.0 MB)
     ---------------------------------------- 31.0/31.0 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: wheel>=0.26 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->Forecaster) (0.37.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->Forecaster) (3.3.4)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->Forecaster) (2.0.3)
Collecting google-auth<2,>=1.6.3
  Downloading google_auth-1.35.0-py2.py3-none-any.whl (152 kB)
     -------------------------------------- 152.9/152.9 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->Forecaster) (2.27.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->Forecaster) (1.6.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->Forecaster) (0.4.4)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->Forecaster) (61.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scikit-learn->sklearn->Forecaster) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scikit-learn->sklearn->Forecaster) (2.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (1.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (2022.6.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (2.0.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow->Forecaster) (3.2.0)
Building wheels for collected packages: Forecaster, sklearn
  Building wheel for Forecaster (setup.py): started
  Building wheel for Forecaster (setup.py): finished with status 'done'
  Created wheel for Forecaster: filename=forecaster-0.2-py3-none-any.whl size=14052 sha256=64ce5df74949ac8d0fee2c021164603c6236034c369cada5184d5aa2fa80b159
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\e9\fa\81\400f38ff6fbb05e89098f7d32f4d9c4f6fe8e11b10dbceba82
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=7377d332b4d989dbb155d2836257f673aef88b92ccb2bd5d8b80a00868799cdd
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built Forecaster sklearn
Installing collected packages: tensorflow-estimator, numpy, gast, scipy, google-auth, sklearn, Forecaster
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.6.0
    Uninstalling tensorflow-estimator-2.6.0:
      Successfully uninstalled tensorflow-estimator-2.6.0
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.3
    Uninstalling numpy-1.22.3:
      Successfully uninstalled numpy-1.22.3

[notice] A new release of pip available: 22.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Consider using the `--user` option or check the permissions.

In [75]:
!pip install scalecast

Collecting scalecast
  Downloading SCALECAST-0.15.5.tar.gz (410 kB)
     -------------------------------------- 410.2/410.2 kB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scikit-learn in c:\users\admin\appdata\roaming\python\python38\site-packages (from scalecast) (0.23.1)

ERROR: Could not install packages due to an OSError: [WinError 5] 액세스가 거부되었습니다: 'C:\\Users\\admin\\anaconda3\\envs\\cakd7\\Lib\\site-packages\\~cipy\\cluster\\_hierarchy.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: tensorflow in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (2.3.0)
Requirement already satisfied: statsmodels in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (0.13.2)
Requirement already satisfied: scipy in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (1.7.3)
Collecting eli5
  Downloading eli5-0.13.0.tar.gz (216 kB)
     -------------------------------------- 216.2/216.2 kB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (1.18.5)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (1.4.2)
Requirement already satisfied: matplotlib in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (3.5.1)
Requirement already satisfied: seaborn in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (0.11.2)
Requirement already satisfied: xgboost in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (1.6.2)
Requirement already satisfied: lightgbm in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (3.3.2)
Requirement already satisfied: openpyxl in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scalecast) (3.0.10)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     -------------------------------------- 109.5/109.5 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: attrs>17.1.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from eli5->scalecast) (21.4.0)
Requirement already satisfied: jinja2>=3.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from eli5->scalecast) (3.0.3)
Requirement already satisfied: six in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from eli5->scalecast) (1.16.0)
Collecting graphviz
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     ---------------------------------------- 47.0/47.0 kB 2.5 MB/s eta 0:00:00
Collecting tabulate>=0.7.7
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scikit-learn->scalecast) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from scikit-learn->scalecast) (1.1.0)
Requirement already satisfied: wheel in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from lightgbm->scalecast) (0.37.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from matplotlib->scalecast) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from matplotlib->scalecast) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from matplotlib->scalecast) (1.4.2)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from matplotlib->scalecast) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from matplotlib->scalecast) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from matplotlib->scalecast) (9.0.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from matplotlib->scalecast) (4.25.0)
Requirement already satisfied: et-xmlfile in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from openpyxl->scalecast) (1.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas->scalecast) (2022.1)
Requirement already satisfied: requests>=2.19.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas-datareader->scalecast) (2.27.1)
Requirement already satisfied: lxml in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas-datareader->scalecast) (4.9.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels->scalecast) (0.5.3)
Requirement already satisfied: tensorflow-estimator<2.4.0,>=2.3.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (2.3.0)
Requirement already satisfied: wrapt>=1.11.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (1.13.3)
Collecting gast==0.3.3
  Using cached gast-0.3.3-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: astunparse==1.6.3 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (1.6.3)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (2.10.0)
Requirement already satisfied: tensorboard<3,>=2.3.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (2.4.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (3.20.1)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (1.1.2)
Collecting scipy
  Using cached scipy-1.4.1-cp38-cp38-win_amd64.whl (31.0 MB)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (3.3.0)
Requirement already satisfied: absl-py>=0.7.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (0.15.0)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (1.42.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (1.1.0)
Requirement already satisfied: google-pasta>=0.1.8 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorflow->scalecast) (0.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from jinja2>=3.0.0->eli5->scalecast) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests>=2.19.0->pandas-datareader->scalecast) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests>=2.19.0->pandas-datareader->scalecast) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests>=2.19.0->pandas-datareader->scalecast) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests>=2.19.0->pandas-datareader->scalecast) (2022.6.15)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->scalecast) (61.2.0)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->scalecast) (2.0.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->scalecast) (1.6.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->scalecast) (3.3.4)
Collecting google-auth<2,>=1.6.3
  Using cached google_auth-1.35.0-py2.py3-none-any.whl (152 kB)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow->scalecast) (0.4.4)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->scalecast) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->scalecast) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->scalecast) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow->scalecast) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->scalecast) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow->scalecast) (3.2.0)
Building wheels for collected packages: scalecast, eli5
  Building wheel for scalecast (setup.py): started
  Building wheel for scalecast (setup.py): finished with status 'done'
  Created wheel for scalecast: filename=SCALECAST-0.15.5-py3-none-any.whl size=107203 sha256=40d7450f00e45e458c535607b66c761e604ba711816a5e21e6d6b0f656964d25
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\b8\27\a9\7a5efba743dfbaed5da36c0b37973977bdc40d0d164bcefaac
  Building wheel for eli5 (setup.py): started
  Building wheel for eli5 (setup.py): finished with status 'done'
  Created wheel for eli5: filename=eli5-0.13.0-py2.py3-none-any.whl size=107748 sha256=687e7848742ac4ceab3b966c39afd0294dbfb3bf2b4958bbff830b2a8fecfda4
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\85\ac\25\ffcd87ef8f9b1eec324fdf339359be71f22612459d8c75d89c
Successfully built scalecast eli5
Installing collected packages: tabulate, scipy, graphviz, gast, google-auth, pandas-datareader, eli5, scalecast
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3

[notice] A new release of pip available: 22.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [81]:
from scalecast.Forecaster import Forecaster
import pandas_datareader as pdr

f = Forecaster(y=purprd1['구매금액'], current_dates=purprd1['구매일자'])
f.plot()

ModuleNotFoundError: No module named 'scalecast'

In [80]:
import pandas_datareader as pdr

ModuleNotFoundError: No module named 'pandas_datareader'