In [3]:
import pandas as pd

df = pd.read_excel('0825_동별_장애인유형_합계.xlsx')
df

       구     동         계        비율
0     소계    소계  392123.0       NaN
1    종로구    소계    5929.0       NaN
2    종로구   사직동     277.0  0.046720
3    종로구   삼청동     108.0  0.018216
4    종로구   부암동     318.0  0.053635
..   ...   ...       ...       ...
447  강동구  암사1동    1681.0  0.090308
448  강동구  천호2동    1649.0  0.088589
449  강동구    길동    1984.0  0.106586
450  강동구  상일1동    1036.0  0.055657
451  강동구  상일2동     546.0  0.029333

[452 rows x 4 columns]

In [13]:
df1 = df.dropna(axis=0)
df1

       구     동       계        비율
2    종로구   사직동   277.0  0.046720
3    종로구   삼청동   108.0  0.018216
4    종로구   부암동   318.0  0.053635
5    종로구   평창동   513.0  0.086524
6    종로구   무악동   322.0  0.054309
..   ...   ...     ...       ...
447  강동구  암사1동  1681.0  0.090308
448  강동구  천호2동  1649.0  0.088589
449  강동구    길동  1984.0  0.106586
450  강동구  상일1동  1036.0  0.055657
451  강동구  상일2동   546.0  0.029333

[426 rows x 4 columns]

In [9]:
df2 = df1.비율 * 100
df2

2       4.671951
3       1.821555
4       5.363468
5       8.652387
6       5.430933
         ...
447     9.030837
448     8.858923
449    10.658644
450     5.565703
451     2.933276
Name: 비율, Length: 426, dtype: float64

In [11]:
df1.비율 = df2
df1

C:\Users\admin\AppData\Local\Temp\ipykernel_8856\2780710095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.비율 = df2

       구     동       계         비율
2    종로구   사직동   277.0   4.671951
3    종로구   삼청동   108.0   1.821555
4    종로구   부암동   318.0   5.363468
5    종로구   평창동   513.0   8.652387
6    종로구   무악동   322.0   5.430933
..   ...   ...     ...        ...
447  강동구  암사1동  1681.0   9.030837
448  강동구  천호2동  1649.0   8.858923
449  강동구    길동  1984.0  10.658644
450  강동구  상일1동  1036.0   5.565703
451  강동구  상일2동   546.0   2.933276

[426 rows x 4 columns]

In [14]:
disable = df1.copy()
disable

       구     동       계        비율
2    종로구   사직동   277.0  0.046720
3    종로구   삼청동   108.0  0.018216
4    종로구   부암동   318.0  0.053635
5    종로구   평창동   513.0  0.086524
6    종로구   무악동   322.0  0.054309
..   ...   ...     ...       ...
447  강동구  암사1동  1681.0  0.090308
448  강동구  천호2동  1649.0  0.088589
449  강동구    길동  1984.0  0.106586
450  강동구  상일1동  1036.0  0.055657
451  강동구  상일2동   546.0  0.029333

[426 rows x 4 columns]

In [15]:
disable.to_csv('장애인비율동별.csv')