In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import math
import time
# 한글폰트 적용
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.rc("font",family="AppleGothic")
import seaborn as sns
from datetime import datetime as dt

#마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus']=False

In [2]:
competitor = pd.read_csv('./DATA/경쟁사이용.txt', encoding='euc-kr', sep=',')
demo = pd.read_csv('./DATA/고객DEMO.txt', encoding='euc-kr', sep=',')
membership = pd.read_csv('./DATA/멤버십여부.txt', encoding='euc-kr', sep=',')
procl = pd.read_csv('./DATA/상품분류.txt', encoding='euc-kr', sep=',')
channel = pd.read_csv('./DATA/채널이용.txt', encoding='euc-kr', sep=',')
purprd = pd.read_csv('./DATA/구매상품TR.txt', encoding='euc-kr', sep=',')

In [3]:
procl = pd.read_csv('./data/상품분류.txt', encoding='euc-kr', sep=',')

#신선식품
procl.loc[procl['중분류명'].str.contains(r"특산물|견과류|냉장농산|냉장수산|냉장축산|냉장기타|채류|돈육|계육|건어류|해물|육류|농산물|수산품|반찬|단무지|잡곡|초밥|다시마|수입게|떡|족발|순대|연체|새우|마른김|조미김|연어|갈치|굴비|조개|계란|오리|우육|닭|감귤|감|복숭아|자두|구이|토마토|기타회|건과|생활한방|한방식재류|수입육|한우|포도|참외|수박|딸기|메론|오렌지|자몽|석류|레몬|해물연체류|블루베리|체리|수입포도|바나나|파인애플|망고|키위|사과|배|밤|과일|해초|나물|두부|묵|즉석참기름|소고기|돼지고기|김치|반찬|양곡|멸치|황태|우유|즉석도정미|특산물|국산게|해조류|꽁치|조기|고등어|약초|대구|도미|생선|잎|잡곡류|선어|채소|버섯|오징어|젓갈|쥐치포|육포|건명태"),'중분류명'] = '신선식품'
#가공식품
procl.loc[procl['중분류명'].str.contains(r"규격RTC|식사류|건면|즉석식품|발효유|식용유|만두|쿠키|초콜렛|씨리얼|케첩마요네즈|냉장식사|축산가공|가공식품|주류|커피|대용식|음식조리|도시락|빵|HMR|밥죽류|간편요리|냉장간편식|간식|선식|햄|소시지|아이스크림|생수|유제품|요구르트|브랜드빵|치즈|두유|음료|소주|양주|건강식품|담배|꿀|안주|한과|프리미엄과자|과자|피자|디저트|장류|식용유지|가루|수입조미|면류|분유|잼|통조림|이유식|구이찜|건명태|튀김|밥류|선물세트|즉석구이|향신료|설탕류|조리식품|라면|인스턴트|간편조리|맥주|와인|전통주|스낵|껌|캔디|시리얼|파이|비스켓|초콜릿|양념|식자재|마른안주|커피|차|소스|조미료|냉동|가공|육포"),'중분류명'] = '가공식품'
#외식
procl.loc[procl['중분류명'].str.contains(r"맛집행사|컨세션|푸드몰|푸드코트|먹거리|중식|패스트푸드|분식|일식|양식|한식|레스토랑|Fast|카페|편의시설|판매시설|주유소|브랜드조리|베이커리|이벤트조리"),'중분류명'] = '외식'
#일상용품
procl.loc[procl['중분류명'].str.contains(r"음식저장|조리용기|세탁세제|화장지|주방주거세제|화장품|두발용품|생리용품|구강용품|위생용품|주방용품|청소욕실용품|가정잡화|화장지|탈취제|베이직케어|선케어|클렌징|집중케어|남성케어|베이비케어|헤어케어|바디케어|풋케어|구강케어|여성용품|화장지티슈|방향제습탈취제|미용소품|안전용품|여행용품|계절팩|여성|남성|베이스메이크업|아이메이크업|립메이크업|네일메이크업|주방용품|생활잡화|식기|일용잡화|화장품조리용기|조리도구|미용소품|훼이셜케어|공구|종량제봉투|필기도구|미용잡화|노트|드럭스토어|아로마|핸드케어|덴탈케어|화장품|건전지|용품|주방|휴지통|밀대|바디|스킨케어|욕실|헤어|일상용품|티슈|청소편의|세제|제습제|키친타올|위생용품|생리대|섬유유연제|표백제|살충제|탈취제|기저귀|화장지"),'중분류명'] = '일상용품'
#의약품 의료기기 
procl.loc[procl['중분류명'].str.contains(r"건강기능식품|일반의약외품|건강식품|홍인삼|기능성건강|비타민"),'중분류명'] = '의약품/의료기기'
#교육 문화
procl.loc[procl['중분류명'].str.contains(r"문화용품|악기|팬시|교육|EDUCATION|서적|음반"),'중분류명'] = '교육/문화용품'
#디지털가전
procl.loc[procl['중분류명'].str.contains(r"대형가전|소형가전|컴퓨터|전자|주방가전|VIDEO|에어컨|TV|DVD|오디오|홈시어터|정수기|공기청정기|음향기기|히터|전기요|가습기|밥솥|청소기|전기포트|믹서|조리기|소형음향기기|카메라|전화기|이동통신|PC|컴퓨터|전기면도기|하이패스|전자악기|MP3|전자학습기|냉장고|세탁기|선풍기|가전|디지털"),'중분류명'] = '디지털/가전'
procl.loc[procl['소분류명'].str.contains(r"헤어드라이어|헤어세팅기"),'중분류명'] = '디지털/가전'
#가구
procl.loc[procl['중분류명'].str.contains(r"수예|매트|전구|그릇|침구|커튼|수예|조명|가구|테이블|의자|퍼니처|벽지"),'중분류명'] = '가구/인테리어'
procl.loc[procl['소분류명'].str.contains(r"교자상|다용도상"),'중분류명'] = '가구/인테리어'
#스포츠
procl.loc[procl['중분류명'].str.contains(r"레저취미|SPORTS|스키|등산|낚시|수영복|롤러보드|자전거|골프|스포츠"),'중분류명'] = '전문스포츠/레저'
#패션잡화
procl.loc[procl['중분류명'].str.contains(r"아동슈즈|양산|피트니스|액세서리|피혁잡화|구두|복합샵|시즌잡화|슈즈|스타킹|드레스화브랜드|슈즈행사|샌들슬리퍼|NB구두|운동화|준보석|시계|액세서리|피혁브랜드|가방브랜드|잡화멀티샵|미입점행사|지갑|벨트|핸드백|가방|피혁토탈|모자|스카프|장갑|시즌토탈|썬글라스|양말|우산"),'중분류명'] = '패션잡화'
procl.loc[procl['소분류명'].str.contains(r"선글라스|피혁"),'중분류명'] = '패션잡화'
#의류
procl.loc[procl['중분류명'].str.contains(r"섬유잡화|캐주얼|커리어|트래디셔널|시티웨어|내의|블라우스|기타의류|디자이너|모피|피혁|남성정장|남성캐주얼|교복|셔츠|트랜디|병행수입|수입브랜드|마담|덧신|내의|란제리|웨어|주니어|의류|캐주얼|스트리트|정장|남성|남아|여성|여아|아동"),'중분류명'] = '의류'
#유아용품
procl.loc[procl['중분류명'].str.contains(r"아동|GIRLS|BOYS|베이비|BABY|유아"),'중분류명'] = '유아용품'
#명품
procl.loc[procl['중분류명'].str.contains(r"보석|준보석|명품"),'중분류명'] = '명품'
#기타
procl.loc[procl['중분류명'].str.contains(r"브랜드|기타|웨딩|데일리처분|균일가|파티|시즌행사|영상|동물병원|카시트|캠핑|여행|TRAVEL"),'중분류명'] = '기타'
procl.loc[procl['소분류명'].str.contains(r'일반브랜드'), '중분류명'] = '기타'

procl.중분류명.unique()
procl.중분류명.value_counts()

가공식품        2047
일상용품        1038
의류           273
전문스포츠/레저     207
패션잡화         197
디지털/가전       174
가구/인테리어      127
외식           111
교육/문화용품       64
기타            51
유아용품          44
명품            27
의약품/의료기기      26
Name: 중분류명, dtype: int64

In [5]:
# 성별
print(demo['성별'].value_counts())

# 제휴사(롯데 그룹 4개 계열사)
print(competitor['제휴사'].value_counts())

# 채널
# 온라인 2개 모바일4개
print(channel['제휴사'].value_counts())

# 멤버쉽
print(membership['멤버십명'].value_counts())

F    15898
M     3485
Name: 성별, dtype: int64
B    13526
A     6385
C     5176
D     3072
Name: 제휴사, dtype: int64
B_MOBILE/APP    5170
A_MOBILE/APP    1435
B_ONLINEMALL    1328
C_ONLINEMALL     618
D_MOBILE/APP     227
C_MOBILE/APP      46
Name: 제휴사, dtype: int64
하이마트    4418
다둥이     2009
더영       642
롭스       387
Name: 멤버십명, dtype: int64

In [9]:
purchase = purprd.copy()
purchase= purchase.drop(['중분류코드','제휴사', '대분류코드'] , axis=1)
eda = pd.merge(purchase, procl, on='소분류코드', how='inner')

# demo + eda
new = pd.merge(demo, eda, on='고객번호', how='left')

In [ ]:
year14 = new[new.구매일자<20150101]
year15 = new[new.구매일자<=20151231]

year14_1 =
year14_2 =
year15_1 =
year15_2 =

In [8]:
new

,고객번호,성별,연령대,거주지역,영수증번호,소분류코드,점포코드,구매일자,구매시간,구매금액,제휴사,대분류코드,중분류코드,중분류명,소분류명,구매일자(datetime),연도
0,1,M,60세이상,60.0,7088136,B430101,13,20150128,21,5960,B,43,4301,가공식품,어묵,1970-01-01 00:00:00.020150128+00:00,1970
1,1,M,60세이상,60.0,7079913,B120603,13,20141218,10,27880,B,12,1206,가공식품,축산물통조림,1970-01-01 00:00:00.020141218+00:00,1970
2,1,M,60세이상,60.0,7079913,B170103,13,20141218,10,8900,B,17,1701,일상용품,액체세제,1970-01-01 00:00:00.020141218+00:00,1970
3,1,M,60세이상,60.0,7068855,B100504,13,20141023,14,2980,B,10,1005,가공식품,떠먹는요구르트,1970-01-01 00:00:00.020141023+00:00,1970
4,1,M,60세이상,60.0,100083,B620202,4,20140819,11,3700,B,62,6202,가공식품,피자,1970-01-01 00:00:00.020140819+00:00,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,19383,F,25세~29세,500.0,237722,D040217,30,20150723,9,2000,D,4,402,가공식품,믹스커피,1970-01-01 00:00:00.020150723+00:00,1970
28593026,19383,F,25세~29세,500.0,255266,D040217,41,20151022,22,2000,D,4,402,가공식품,믹스커피,1970-01-01 00:00:00.020151022+00:00,1970
28593027,19383,F,25세~29세,500.0,255248,D040217,41,20151017,19,2000,D,4,402,가공식품,믹스커피,1970-01-01 00:00:00.020151017+00:00,1970
28593028,19383,F,25세~29세,500.0,255160,D040217,41,20150921,23,4000,D,4,402,가공식품,믹스커피,1970-01-01 00:00:00.020150921+00:00,1970
28593029,19383,F,25세~29세,500.0,237776,D020207,30,20150806,11,4060,D,2,202,일상용품,데오도란트,1970-01-01 00:00:00.020150806+00:00,1970

In [ ]:
# 소비재 카테고리 나누기
def sobijae(x):
    cat=''
    if x in ['가공식품','신선식품','외식','일상용품','의약품/의료기기','교육/문화용품','기타']:
        cat = '편의품'
    elif x in ['디지털/가전','가구/인테리어','의류','전문스포츠/레저','패션잡화','유아용품']:
        cat = '선매품'
    elif x =='명품':
        cat = '전문품'
        
    return cat

eda['소비재'] = eda['중분류명'].apply(lambda x : sobijae(x))
eda['중분류명'].value_counts()

In [12]:
import pandas as pd

half_fix = pd.read_csv('HALF_FIX.csv', encoding='cp949')
half_fix.head()

   CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0       1  2014   1  19925355  83720   238   고정고객
1       1  2014   2  34116312  95832   356   고정고객
2       1  2015   1  17898365  57367   312   고정고객
3       1  2015   2  13102518  86772   151   고정고객
4       2  2014   1  24323230  71750   339   고정고객

In [13]:
half_fix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77197 entries, 0 to 77196
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  77197 non-null  int64
 1   년도      77197 non-null  int64
 2   반기      77197 non-null  int64
 3   구매합계    77197 non-null  int64
 4   평균구매    77197 non-null  int64
 5   구매빈도    77197 non-null  int64
 6   고정고객여부  77197 non-null  object
dtypes: int64(6), object(1)
memory usage: 4.1+ MB

In [19]:
half = half_fix[half_fix.년도 == 2014]
half.head()

   CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0       1  2014   1  19925355  83720   238   고정고객
1       1  2014   2  34116312  95832   356   고정고객
4       2  2014   1  24323230  71750   339   고정고객
5       2  2014   2  21922100  80893   271   고정고객
8       3  2014   1    851215   2446   348   고정고객

In [26]:
half2015 = half_fix[half_fix.년도 == 2015]
half2015.head()

    CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
2        1  2015   1  17898365   57367   312   고정고객
3        1  2015   2  13102518   86772   151   고정고객
6        2  2015   1  27791610  106481   261   고정고객
7        2  2015   2  25843820  105485   245   고정고객
10       3  2015   1    592280    2692   220   고정고객

In [23]:
half1 = half[half.반기 == 1]
print(half1.info())
half1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19210 entries, 0 to 77139
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  19210 non-null  int64
 1   년도      19210 non-null  int64
 2   반기      19210 non-null  int64
 3   구매합계    19210 non-null  int64
 4   평균구매    19210 non-null  int64
 5   구매빈도    19210 non-null  int64
 6   고정고객여부  19210 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.2+ MB
None

    CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0        1  2014   1  19925355  83720   238   고정고객
4        2  2014   1  24323230  71750   339   고정고객
8        3  2014   1    851215   2446   348   고정고객
12       4  2014   1   5042106  18674   270   고정고객
16       5  2014   1   5460150  14483   377   고정고객

In [24]:
half1.groupby(['CUSTNO'], as_index=False)
half1.head()

    CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0        1  2014   1  19925355  83720   238   고정고객
4        2  2014   1  24323230  71750   339   고정고객
8        3  2014   1    851215   2446   348   고정고객
12       4  2014   1   5042106  18674   270   고정고객
16       5  2014   1   5460150  14483   377   고정고객

In [25]:
half2 = half[half.반기 == 2]
print(half2.info())
half2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19298 entries, 1 to 77188
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  19298 non-null  int64
 1   년도      19298 non-null  int64
 2   반기      19298 non-null  int64
 3   구매합계    19298 non-null  int64
 4   평균구매    19298 non-null  int64
 5   구매빈도    19298 non-null  int64
 6   고정고객여부  19298 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.2+ MB
None

    CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
1        1  2014   2  34116312  95832   356   고정고객
5        2  2014   2  21922100  80893   271   고정고객
9        3  2014   2   1042554   2666   391   고정고객
13       4  2014   2   4257510  24753   172   고정고객
17       5  2014   2   2225730  17121   130   고정고객

In [27]:
half3 = half2015[half2015.반기 == 1]
print(half3.info())
half3.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19343 entries, 2 to 77195
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  19343 non-null  int64
 1   년도      19343 non-null  int64
 2   반기      19343 non-null  int64
 3   구매합계    19343 non-null  int64
 4   평균구매    19343 non-null  int64
 5   구매빈도    19343 non-null  int64
 6   고정고객여부  19343 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.2+ MB
None

    CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
2        1  2015   1  17898365   57367   312   고정고객
6        2  2015   1  27791610  106481   261   고정고객
10       3  2015   1    592280    2692   220   고정고객
14       4  2015   1   3656937   13905   263   고정고객
18       5  2015   1   2934930   23861   123   고정고객

In [28]:
half4 = half2015[half2015.반기 == 2]
print(half4.info())
half4.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19346 entries, 3 to 77196
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CUSTNO  19346 non-null  int64
 1   년도      19346 non-null  int64
 2   반기      19346 non-null  int64
 3   구매합계    19346 non-null  int64
 4   평균구매    19346 non-null  int64
 5   구매빈도    19346 non-null  int64
 6   고정고객여부  19346 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.2+ MB
None

    CUSTNO    년도  반기      구매합계    평균구매  구매빈도 고정고객여부
3        1  2015   2  13102518   86772   151   고정고객
7        2  2015   2  25843820  105485   245   고정고객
11       3  2015   2    679118    2927   232   고정고객
15       4  2015   2   3737257   16610   225   고정고객
19       5  2015   2   2616260   29396    89   고정고객

### SARIMA

In [30]:
!pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.13.2-cp38-cp38-win_amd64.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 10.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: packaging>=21.3 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: scipy>=1.3 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels) (1.7.3)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     -------------------------------------- 233.8/233.8 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from statsmodels) (1.22.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\envs\cakd7\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.13.2

[notice] A new release of pip available: 22.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

import itertools

p = d = q = range(0,3)
pdq = list(itertools.product(p, d, q))

seasonal_pdq = [(x[0], x[1], [2], 12) for x in list(itertools.product(p, d, q))]

In [35]:
import numpy as np

best_aic = np.inf
best_pdq = None
best_seasonal_pdq = None
tmp_model = None
best_mdl = None

for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            tmp_mdl = sm.tsa.statespace.SARIMAX(y_train, exog=None, order=param,
                                                seasonal_order = param_seasonal,
                                                enforce_stationarity=True,
                                                enforce_invertibility=True)
            res = tmp_mdl.fit()
            print(f'SARIMAX{param}x{param_seasonal}12 - AIC:{res.aic}')
            if res.aic < best_aic:
                best_aic = res.aic
                best_pdq = param
                best_seasonal_pdq = param_seasonal
                best_mdl = tmp_mdl
        except:
            continue
print(f"Best SARIMAX{best_pdq}x{best_seasonal_pdq}12 model - AIC:{best_aic}")

Best SARIMAXNonexNone12 model - AIC:inf

In [36]:
mdl = sm.tsa.statespace.SARIMAX(endog=y_train, order=(1,1,0),
                               seasonal_order=(1,2,1,12),
                               enforce_stationarity=True,
                               enforce_invertibility=True)
res = mdl.fit()

NameError: name 'sm' is not defined

### SARIMA 2

In [37]:
half_fix.head()

   CUSTNO    년도  반기      구매합계   평균구매  구매빈도 고정고객여부
0       1  2014   1  19925355  83720   238   고정고객
1       1  2014   2  34116312  95832   356   고정고객
2       1  2015   1  17898365  57367   312   고정고객
3       1  2015   2  13102518  86772   151   고정고객
4       2  2014   1  24323230  71750   339   고정고객

In [38]:
# Data Loading

# import pandas as pd
# half_fix = pd.read_csv('HALF_FIX.csv', encoding='cp949')

# Feature Engineering
raw_fe = feature_engineering(half_fix)
### Reality ###
target = ['년도', '반기']
raw_feR = feature_engineering_year_duplicated(raw_fe, target)

# Data Split
# Confirm of input and output
Y_colname = ['count']
X_remove = ['CUSTNO', '구매빈도', '고정고객여부']
X_colname = [x for x in raw_fe.columns if x not in Y_colname+X_remove]
X_train_feR, X_test_feR, Y_train_feR, Y_test_feR = datasplit_ts(raw_feR, Y_colname, X_colname, '2014-07-01')
### Reality ###
target = ['구매합계', '평균구매']
X_test_feR = feature_engineering_lag_modified(Y_test_feR, X_test_feR, target)

### Scaling ###
X_train_feRS, X_test_feRS = feature_engineering_scaling(preprocessing.Normalizer(), X_train_feR, X_test_feR)

### Multicollinearity ###
print('Number_of_Total_X: ', len(X_train_feRS.columns))
X_colname_vif = feature_engineering_XbyVIF(X_train_feRS, 12)
print('Number_of_Selected_X: ', len(X_colname_vif))
X_train_feRSM, X_test_feRSM = X_train_feRS[X_colname_vif].copy(), X_test_feRS[X_colname_vif].copy()

NameError: name 'feature_engineering' is not defined

### SARIMA 3

In [39]:
purprd.head()

  제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간  구매금액
0   B  8664000     15   1504  B150401  17218    44  20140222    20  2420
1   B  8664000     16   1601  B160101  17218    44  20140222    20  1070
2   B  8664000     16   1602  B160201  17218    44  20140222    20  8060
3   B  8664000     18   1803  B180301  17218    44  20140222    20  6000
4   B  8664001      5    509  B050901  17674    44  20140222    22  1120

In [41]:
purprd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28593030 entries, 0 to 28593029
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 2.1+ GB

In [44]:
# 구매일자 컬럼 필요 일단 고정 + 비고정 고객 모두 포함하여 시계열 분석
cus = purprd.groupby(purprd.구매일자)
cus.head()

       제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간  구매금액
0        B  8664000     15   1504  B150401  17218    44  20140222    20  2420
1        B  8664000     16   1601  B160101  17218    44  20140222    20  1070
2        B  8664000     16   1602  B160201  17218    44  20140222    20  8060
3        B  8664000     18   1803  B180301  17218    44  20140222    20  6000
4        B  8664001      5    509  B050901  17674    44  20140222    22  1120
...     ..      ...    ...    ...      ...    ...   ...       ...   ...   ...
154986   D   204267      2    203  D020303   3546    12  20140525    11  2700
154987   D   204267      4    402  D040206   3546    12  20140525    11  3400
154988   D   204267      4    402  D040209   3546    12  20140525    11  1500
157654   C  9292878     17   1701  C170150   1416   341  20140615    18  1400
157655   C  9292879      7    701  C070101  13003   341  20140615    20  2990

[3650 rows x 10 columns]

In [ ]:
cus.nunique()

In [ ]:
purprd.구매일자=pd.to_datetime(purprd.구매일자)

In [43]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt

sns.set(rc={'figure.figsize':(12,8)})

import itertools
import warnings
warnings.filterwarnings('ignore')
import datetime
from datetime import datetime

In [ ]:
from scalecast.Forecaster import Forecaster
import pandas_datareader as pdr

f = Forecaster(y=cus['구매금액'])